* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
}

p {
    line-height:2.2rem
}
/* below sets the background and text color */
.box {
    padding: 60px 0;
    background-color: #23424A;
    color: white;
}

/* below sets all of the content in the middle */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    /* border: 2px solid yellow; */
}

/* # the __ pertains to the overall 
text of the parent container  */
.box__text {
    width: 60%;
    /* border: 2px solid red; */
}

.container p {
    margin-bottom: 3em;
}

/* below is the styling for a simple 
anchor tag repreented as a button */
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424A;
    background-color: #38cfd9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75;
    background-color: red;
    color: white;
    transform: scale(1.2);
}

/* below lies the css for flexbox */
.flexbox_box_bg{
    color: black;
    width: 80%;
    margin: 0 auto;
    
}
.row{
    display: flex;
    margin: 0 auto;
    gap: 5%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    max-width: 1100px;
}
.col{
    text-align: center;
}
.col h1 {
    color: #87629A;
}

/* below is the styling for the third hero section */
.hero_three_box_bg{
    background-color: #136C72;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
.box_three_row{
    display: flex;
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    gap: 5%;
    padding-bottom: 1rem;
}

